@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Semibold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Bold.woff2");
  font-weight: 700;
}
